section {
  padding: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

input {
  padding: 17px;
  width: 950px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
